<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Куда отправить сову</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-3 bg-dark" style="min-height: 100vh">
        <nav class="navbar navbar-expand-lg text-light bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="Логотип"
                         class="img-fluid" style="height: 40px;">
                </a>
                Меню
            </div>
        </nav>

        <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-dark">Главная</li>
            <li class="list-group-item text-light bg-dark">Факультеты</li>
            <li class="list-group-item text-light bg-dark">Что взять с собой в школу</li>
            <li class="list-group-item text-light bg-dark">Куда отправить сову</li>
        </ul>
        <div class="dropdown mt-auto">
            <button class="btn bg-dark-subtle dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Юный волшебник
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Профиль</a>
                <a class="dropdown-item" href="#">Выход</a>
            </div>
        </div>


    </div>
    <div class="col-9">
        <div class="d-flex justify-content-center mt-40">
            <h1 style="margin-top: 100px;">Куда отправить сову</h1>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInputDisabled"
                                   placeholder="name@example.com" disabled>
                            <label for="floatingInputDisabled">Сова</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                      id="floatingTextareaDisabled" disabled></textarea>
                            <label for="floatingTextareaDisabled">Имя (ваше). Не совы.</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                      id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
                            <label for="floatingTextarea2Disabled">Сообщение</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Как написать в Хогвартс</h4>
                        <p class="lead">
                            Свяжитесь с нами с помощью совы. Сова знает куда лететь. Просто привяжите к лапе письмо.
                        </p>


                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>


    </div>

</div>
</body>
</html>