<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Хогвартс</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-3 bg-dark" style="min-height: 100vh">
        <nav class="navbar navbar-expand-lg text-light bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="Логотип"
                         class="img-fluid" style="height: 40px;">
                </a>
                Меню
            </div>
        </nav>

        <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-dark">Главная</li>
            <li class="list-group-item text-light bg-dark">Факультеты</li>
            <li class="list-group-item text-light bg-dark">Что взять с собой в школу</li>
            <li class="list-group-item text-light bg-dark">Куда отправить сову</li>
        </ul>
        <div class="dropdown mt-auto">
            <button class="btn bg-dark-subtle dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Юный волшебник
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Профиль</a>
                <a class="dropdown-item" href="#">Выход</a>
            </div>
        </div>


    </div>
    <div class="col-9">
        <div class="row">
            <div class="d-flex justify-content-center align-items-top">
                <div class="container overflow-hidden text-center">
                    <div class="d-flex justify-content-center mt-10">
                        <h1 style="margin-top: 30px;">Что взять с собой в школу</h1>
                    </div>


                    <div class="row row-cols-1 row-cols-md-3 g-6">
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://cs1.livemaster.ru/storage/38/15/0944f19598818a2b0eb303c1a4mx--subkultury-volshebnaya-palochka-individualnaya.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Волшебная палочка</h5>
                                    <p class="card-text">Нужна для чар и заклинаний.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://otvet.imgsmail.ru/download/303501391_e23350fd6920a93ff95bb3846a264771.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Животное</h5>
                                    <p class="card-text">Выберете себе друга или вредителя.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFkYq-XiUgdfSbGMcx3F1Q5nXstPOMa9GS3Q&s" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Котел</h5>
                                    <p class="card-text">Нужен варить зелья. Без него профессор Снейп поставит вам Тролля.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://img1.festima.ru/1/43fBlcQac3Qdkork" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Мантия</h5>
                                    <p class="card-text">Её вам выдадут.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://postmania.ru//files/products/0219-a.800x600.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Магические книжки</h5>
                                    <p class="card-text">Учебники по зельям, чарам и магическим животным.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://api.bonjour-dv.ru/public_v1/products/38692/images/121236.jpg?h=400" class="img-fluid" style="height: 250px;" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Шампунь</h5>
                                    <p class="card-text">Подарите его Северусу.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>